@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #221919;
}
.hero {
  background-image: url('assets\herobg.jpeg'); /* Adjust the path and image name accordingly */
  background-size: cover;
}
